services:
  app:
    build:
      context: .
    ports: ['${PORT:-3000}:${PORT:-3000}']
    env_file: .env
    environment:
      - NODE_ENV=production
      - META_BASE_URL=${META_BASE_URL}
      - SOAL_BASE_URL=${SOAL_BASE_URL}
    deploy:
      resources:
        limits:
          cpus: '${CPU_LIMIT:-1}'
          memory: '${MEMORY_LIMIT:-1024M}'
    restart: 'unless-stopped'
